input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

table,td,tr,th{
    border-collapse: collapse;
}

table{
    width: 360px;
}

tr{
    line-height: 2;
}

th{
    background-color: orange;
    color: rgb(167, 3, 3);
    font-size: x-large;
    line-height: 1;
    padding: 5px;
}

td{
    background-color: antiquewhite;
    text-align: center;
    color: brown;
}

td.title{
    padding-left: 10px;
    text-align: left;
    width: 160px;
}

#chuvi, #dientich, #tiendien, #canhHuyen{
    background-color: rgb(227, 182, 211);
    color: rgb(133, 29, 29);
}

table{
    margin: 30vh auto;
}